@model FoodDlvProject2.EFModels.Store


@{
	ViewData["Title"] = "Details";
	
}

<h1>店家詳細資料</h1>

<div>
	
	<hr />
	<dl class="row">
		
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StoreName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StoreName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Address)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Address)
			<div id="map" style="height: 300px; width:400px;"></div>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ContactNumber)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ContactNumber)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Photo)
		</dt>
		<dd class="col-sm-10">

			@{

				var imgSrc = "";
				if (!string.IsNullOrEmpty(Model.Photo))
				{
					imgSrc = $"/public/Stores/{Model.Photo}";
					//imgSrc = $"D:/FoodDelivery/FoodDlvProject2/food-dlv-website/noPic.jpg";
				}
				else
				{
					imgSrc = "./noPic.jpg";
				}
					<img src="@imgSrc" width="100px" height="100px">
			}

		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StorePrincipal.Account)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StorePrincipal.Account)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StorePrincipal)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.StorePrincipal.LastName)
			@Html.DisplayFor(model => model.StorePrincipal.FirstName)
		</dd>

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.StoresCategoriesLists)
		</dt>
		<dd class="col-sm-10">
			@foreach (var c in Model.StoresCategoriesLists)
			{
				<span style="color:white; background-color:gray;border-radius:25%">@c.Category.CategoryName</span>
			}

		</dd>

		

		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Products)
		</dt>
		<dd class="col-sm-10">
			@{

					<td>
						<table class="table table-bordered">
							<tr class="active">
								<td>照片</td>
								<td>品名</td>
								<td>單價</td>
							</tr>
							@foreach (var p in Model.Products)
						{
								<tr class="active">

									<td>
										@{
										var imgSrcP = "";
										if (!string.IsNullOrEmpty(p.Photo))
										{
											imgSrcP = $"/public/Products/{p.Photo}";
										}
										else
										{
											imgSrcP = "/public/Products/noPic.jpg";
										}
										}
										<img src="@imgSrcP" width="100px" height="100px">
									</td>
									<td>@p.ProductName</td>
									<td>@p.UnitPrice</td>
									<td>
										<a asp-action="EditP" asp-route-id="@p.Id">商品編輯</a> |
										<a asp-action="DetailsP" asp-route-id="@p.Id">商品詳細資料</a> |
										<a asp-action="DeleteP" asp-route-id="@p.Id">商品刪除</a>
									</td>



								</tr>

						}
							<a asp-action="CreateP" asp-route-id="@Model.Id">新增商品</a>
						</table>

					</td>
			}

		</dd>

	</dl>
</div>

<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">編輯</a> |
	<a asp-action="Index">返回列表</a>
</div>



 
 

@section Scripts
	{
		
	<script src="https://maps.googleapis.com/maps/api/js?key=@($"{ViewBag.Apikey}")"></script>
	<script>



		function initMap() {
			var map = new google.maps.Map(document.getElementById('map'), {
				zoom: 15,
				center: { lat: @Model.Latitude, lng: @Model.Longitude }
			});
			var marker = new google.maps.Marker({
				position: { lat: @Model.Latitude, lng: @Model.Longitude },
				map: map
			});
		}
		initMap();

		
		//	var map = new google.maps.Map(document.getElementById('map'), {
		//	center: { lat: @Model.Latitude, lng: @Model.Latitude},
		//	zoom: 16
		//});

		//var marker = new google.maps.Marker({
		//	position: { lat:@Model.Latitude, lng: @Model.Latitude},
		//	map: map,
			
		//});
	











		// 等待 DOM 載入完成
		//$(function () {
		//	var addressInput = document.getElementById('Address');
		//	var latitudeInput = document.getElementById('Latitude');
		//	var longitudeInput = document.getElementById('Longitude');
		//	var lat = parseFloat(latitudeInput.value);
		//	var lng = parseFloat(longitudeInput.value);
		//	// 建立一個 Google 地圖
		//	var map = new google.maps.Map(document.getElementById('map'), {
		//		zoom: 15
		//	});
			
		//	// 在 Google 地圖上顯示地點
		//	function showLocationOnMap(lat, lng) {
		//		var latLng = new google.maps.LatLng(lat, lng);
		//		map.setCenter(latLng);
		//		var marker = new google.maps.Marker({
		//			position: latLng,
		//			map: map
		//		});
		//	}
		//	showLocationOnMap(lat, lng);
		//});








		//// 等待 DOM 載入完成

		//	$(function(){
			
		//	var lat = parseFloat(document.getElementById('Latitude').innerText);
		//	var lng = parseFloat(document.getElementById('Longitude').innerText);
		//	showLocationOnMap(lat, lng);
		//	// 建立一個 Google 地圖
		//	var map = new google.maps.Map(document.getElementById('map'), {
		//		zoom: 15
		//	});

		//	// 在 Google 地圖上顯示地點
		//	function showLocationOnMap(lat, lng) {
		//		var latLng = new google.maps.LatLng(lat, lng);
		//		map.setCenter(latLng);
		//		var marker = new google.maps.Marker({
		//			position: latLng,
		//			map: map
		//		});
		//	}
			
			
		//	});
			

			

	</script>

		}